@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  /* overflow: hidden; */
}

html {
  height: 100%;
  display: grid;
  place-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  z-index: 1;
}

.medizen-app {
  height: 70ch;
  width: 95vw;
  border-radius: 10px;
  background-color: hsl(210, 0%, 95%);
}

.dialog {
  padding: 2em 0;
  height: 60ch;
  border-radius: 20px;
}
.dialog * {
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 2rem;
  overflow: hidden;
  height: auto;
}

.contact-icons {
  /* display: flex;
  justify-content: space-evenly;
  z-index: 10; */
}

button[name="close-btn"] {
  position: relative;
  font-size: 3em;
  color: red;
}

.media-player {
  background-color: lightsteelblue;
}
.media-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
}

form select {
  font-family: "Zen Maru Gothic";
  font-size: 1em;
  text-align: center;
  margin: clamp(1em, 2em, 3em);
  width: clamp(200px, 200px + 1vw, 600px);
  height: 2em;
  border-radius: 5px;
}

select option {
  padding: 3ch 0;
  text-align: center;
}
.display-paused {
  align-self: center;
  min-width: 100%;
  font-size: clamp(8px, 3em + 1vw, 5em);
  font-weight: 300;
}
.display-playing {
  font-size: clamp(8px, 3em + 1vw, 5em);
  font-weight: 300;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  z-index: 2;
  background-color: transparent;
}

button:hover {
  background-color: gray;
  cursor: pointer;
}

svg {
  z-index: -10;
  pointer-events: none;
  transform: scale(1.5);
  color: gray;
}

.svg-logo-active {
  width: clamp(50%, 50% + 1vw, 70%);
  filter: invert(76%) sepia(49%) saturate(338%) hue-rotate(80deg)
    brightness(89%) contrast(84%);
  animation: pulse-animation 6s infinite ease-out;
  animation-delay: 2s;
}

.app-footer {
  background-color: lightcoral;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.svg-logo-inactive {
  width: clamp(50%, 50% + 1vw, 70%);
  filter: invert(88%) sepia(18%) saturate(0%) hue-rotate(168deg) brightness(87%)
    contrast(90%);
}

.navigation {
  height: 50%;
  background-color: darkgray;
}

.navigation svg {
z-index: 5;
}

.medizen-app [id*="medium-front"] {
  border: 2px solid red;
  animation-name: moveleft;
  animation-duration: 5s;
}

@keyframes moveleft {
  from {transform: translateX(0)}
  to {transform: translateX(-60%)}
}

@media only screen and (min-width: 600px) {
  .medizen-app {
    height: 100%;
    width: clamp(30vw, 50vw, 80vw);
  }
}
