@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* font-family: "Quicksand", sans-serif; */
}

:root {
  --light100: hsla(356, 56%, 90%, 1);
  --light200: hsla(356, 55%, 82%, 1);
  --light300: hsla(356, 54%, 77%, 1);
  --light400: hsla(356, 64%, 73%, 1);
  --light500: hsla(356, 76%, 72%, 1);
  --light600: hsla(356, 66%, 65%, 1);
  --light700: hsla(356, 46%, 55%, 1);
  --light800: hsla(357, 36%, 45%, 1);
  --light900: hsla(357, 30%, 37%, 1);

  --dark100: hsla(216, 11%, 86%, 1);
  --dark200: hsla(217, 20%, 76%, 1);
  --dark300: hsla(216, 27%, 70%, 1);
  --dark400: hsla(216, 28%, 64%, 1);
  --dark500: hsla(216, 23%, 57%, 1);
  --dark600: hsla(215, 29%, 45%, 1);
  --dark700: hsla(216, 20%, 38%, 1);
  --dark800: hsla(215, 21%, 30%, 1);
  --dark900: hsla(216, 15%, 27%, 1);
}

html {
  height: 100%;
  overflow: hidden;

}

.App {
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
  background: linear-gradient(180deg, #837474 0%, #F7C4C7 100%);
}

.app-header {
  /* background-color: var(--light200); */
  flex: 0 1 auto;
  align-self: flex-end;
  padding: 0.5rem 1rem;
}

#inactive .app-header {
  color: var(--light300);
}

#active .app-header {
  color: var(--light800);

}

.app-body {
  font-family: 'Zen Maru Gothic';
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  height: 70vh;
  width: 100vw;
  /* border-bottom: 5px red dashed; */
  color: var(--light800)
}

.app-body-1 h1 {
  color: white;
  font-weight: 400;
}

.app-body-1 h3 {
  color: hsla(356, 54%, 77%, 1);
  font-size: 1rem;
  font-weight: 400;
}

#inactive .quotes {
  opacity: 0;
}

#active .quotes {
  opacity: 0.5;
}

#active .app-body-1 h1,
#active .app-body-1 h3 {
  opacity: 0;
}

.app-body-1 {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  /* border-bottom: 5px red dashed; */
  justify-content: space-between;
}

/* .app-body-1 svg:nth-child(4) {
  border: 1px green solid;
  justify-self: flex-end;

} */

.app-body-1 #inactive {
  justify-self: flex-end;
}

.app-body-2 {

  flex-grow: 3;
  z-index: 99;
  background: linear-gradient(180deg, #837474 0%, #F7C4C7 100%);
  /* border-bottom: 5px red dashed; */
}

.meditation {
  /* width: 100vw; */
}

.meditation path {
  width: clamp(250px, 3rem + 2vw, 800px);
  aspect-ratio: 1/1;
  /* border: 1px green solid; */
  width: 75%;
}

.meditation svg {
  margin-top: 90px;
  border: 0;
  width: 100%;
  transform: translateY(10%);
}

#inactive #monk,
#inactive #outer-sun {
  opacity: 0;
}

.meditation svg:nth-child(2) {
  transform: translateY(10%);
}

#active #terrain,
#active #monk,
#outer-sun {
  opacity: 1;
  transition: opacity 5s ease-in;
}

#active #outer-sun {
  animation: 5s ease-in-out breathing infinite;
  transform-origin: center center;
  overflow: visible;
}

#active [id*="left"] {
  /* fill: white; */
  transform: translateX(-100%);
  transition: 10s transform ease;
}

#active [id*="right"] {
  /* fill: white; */
  transform: translateX(100%);
  transition: 15s transform ease;
}

#active {
  background: linear-gradient(180deg, #DAD7D8 0%, #F7C3C7 100%);
}

#active .app-body-2 {
  background: linear-gradient(0deg, #DAD7D8 0%, #907373 100%);
}


.about-section {
  height: 40vh;
  background: var(--light100);
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}

.about-section * {
  padding: 0 0.5rem;
  color: var(--light800);
}

.about-section svg {
  width: 32px;
  height: 32px;
}

.about-section h4 {
  color: var(--light900);
  font-size: 1.1rem;
  letter-spacing: 0.1ch;
}

#close-icon svg {
  fill: var(--light600);
}

#close-icon {
  display: inline-block;
  width: 100%;
  text-align: end;
  padding-right: 1rem;
}


.app-body #clouds_svg__Layer_1 {
  /* border: 1px blue solid; */
  /* display: block; */
  position: absolute;
  width: 100vw;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
}


#active .app-body #clouds_svg__Layer_1 {
  /* z-index: -10; */
  /* display: none; */
}

/* .app-body svg {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
} */

/* #inner-sun,
#outer-sun {
  transform: scale(1);
}

#outer-sun {
  display: none;
}

#active, #inactive{
  height: 50%;
  margin-top: 3rem;
}
#active #outer-sun {
  display: block;
animation: 5s infinite breathing ease-in;
transform-origin: center center;
}

#meditation-pose {
  position: relative;
  transform: translateY(-70%) scale(0.5);
  fill: var(--light900)
  
} */
/* #clouds_svg {
  position: absolute;
  display: none;
  right: 0;
} */

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  45% {
    transform: scale(0.9);
  }

  85% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


.quotes {

  box-sizing: border-box;
  left: 0;
  position: absolute;
  top: 10%;
  width: 100vw;
  height: auto;

  color: var(--light800);
  font-weight: 300;
  /* border: 1px solid green; */
}

.quotes h4 {
  /* min-width: 100vw; */
  /* position: relative; */
  max-width: 30ch;
  margin: 0 auto;
  padding: 0 10%;
  font-style: italic;
}

.quotes h4::before {
  content: '"';
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  vertical-align: middle;
  padding-right: 5px;
}

.quotes h4::after {
  content: '"';
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  vertical-align: middle;
  padding-left: 5px;
}

.quotes p {
  /* padding-top: 1rem; */
  color: var(--light800);
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0 auto;
  width: min-content;
  min-width: 10ch;
}

.app-footer {
  background-color: var(--light300);
  flex: 0 1 10vh;
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  /* height: 20%; */
}

.app-footer svg {
  color: var(--light700);

}

.app-footer .media-player button {
  background-color: transparent;
  margin: 0.5rem;
}

.custom-time {
  background-color: var(--light300);
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--light900);
  width: 80vw;
  height: 300px;
  overflow: hidden;
  padding-bottom: 2rem;
  /* border-radius: 20px; */
}

.custom-time span {
  font-weight: 800;
  font-size: 1.5rem;
  color: hsla(45, 80%, 85%, 1);
  padding-right: 0.5rem;
}

.custom-time button {
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: var(--light600);
  color: hsla(45, 80%, 85%, 1);
  font-weight: 600;
}


.custom-time form {
  display: flex;
  flex-flow: column;
  padding-top: 1rem;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.custom-time input {
  min-width: 50vw;
}

.custom-time form label {
  width: 100%;

}

.fl-row {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.fl-row svg {
  width: 36px;
  aspect-ratio: 1/1;
  padding: 0 1rem;
}

.fl-row #btn-vol-up svg, #btn-vol-off svg {
  width: 36px;
  height: 36px;
}

#btn-vol-off svg {
  color: var(--light900)
}

.fl-row svg:hover {
  cursor: pointer;
  color: aliceblue;
}

.media-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
}

.media-player-controls button {
  /* border: 1px red solid; */
  height: 4rem;
}

.media-player-controls svg {
  min-width: 48px;
  min-height: 48px;
  fill: var(--light100);
  cursor: pointer;
}

[name="backwards"]:hover, [name="forward"]:hover   {
  cursor: pointer;
}
[name="backwards"]:hover svg, [name="forward"]:hover svg {
  fill: white;
  transform: scale(1.2);
}

/* .media-player-controls [name="backwards"]::after {
  content: "-";
  box-sizing: border-box;
  font-size: 2rem;
  padding-left: 0.5rem;
  color: var(--light100);
  height: inherit;
  vertical-align: super;
}
.media-player-controls [name="forward"]::before {
  content: "+";
  box-sizing: border-box;
  font-size: 2rem;
  padding-right: 0.5rem;
  color: var(--light100);
  height: inherit;
  vertical-align: super;
} */

.media-player-controls [name="play"] svg {
  fill: var(--light100);
}

#active .media-player-controls [name="play"] svg {
  fill: #F1EDCD;
}

.audio-settings {
  position: absolute;
  padding-bottom: 2rem;
  bottom: 100%;
  height: 400px;
  width: 100%;
  background-color: var(--light200);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  opacity: 1;
}

.audio-settings *:not(h3) {
  opacity: 0.7;
  filter: grayscale(1);
}

.audio-settings h3 {
  color: var(--light900);
  font-size: 1.5rem;
}


.audio-settings input[type="range"] svg {
  width: 100%;
  height: 48px;
  /* padding: 1rem 0rem; */
}

.audio-settings>div {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100vw;
  padding: 0 10%;
}

.audio-settings i * {
  height: 24px;
  width: 24px;
  padding-right: 1rem;
}

.audio-settings label {
  padding-top: 1.5rem;
}

.audio-settings input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding: 1rem 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--light400);
  border-radius: 15px;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  border: 1px solid hsla(45, 80%, 50%, 1);
  aspect-ratio: 1/1;
  background-color: hsla(45, 80%, 85%, 1);
  border-radius: 50%;
  margin-top: -4px
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  /* outline: 3px solid #053a5f; */
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-thumb:hover {
  background: hsla(45, 80%, 50%, 1);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: hsla(45, 80%, 50%, 1);
}


input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-progress {
  background-color: red;
}

input[type="range"]::-moz-range-track {
  background-color: blue;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

input[type="range"]::-webkit-progress-value {
  background-color: orange;
}

button svg {
  pointer-events: none;
  height: 48px;
  aspect-ratio: 1/1;
}


form select {
  font-family: "Zen Maru Gothic";
  font-size: 1em;
  text-align: center;
  margin: clamp(1em, 2em, 3em);
  width: clamp(200px, 200px + 1vw, 600px);
  height: 2em;
  border-radius: 5px;
}

select option {
  padding: 3ch 0;
  text-align: center;
}

.display-paused {
  align-self: center;
  min-width: 100%;
  font-size: clamp(8px, 3em + 1vw, 5em);
  font-weight: 500;
  color: var(--light200);
}

.display-playing {
  font-size: clamp(8px, 3em + 1vw, 5em);
  color: hsla(45, 52%, 85%, 1);
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes moveleft {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-60%)
  }
}

@media only screen and (min-width: 600px) {
  .medizen-app {
    height: 100%;
    width: clamp(30vw, 50vw, 80vw);
  }

  .root {
    overflow: hidden;
  }

  .custom-time {
    /* border: 3px red solid; */
    width: 500px;
    overflow: visible;
  }

  .custom-time form {
    /* border: 3px red solid; */
    width: 90%;
    margin: 0 auto;
  }

  .custom-time input {
    /* border: 1px red green !important; */
    min-width: 50%;
  }

  .app-body #clouds_svg__Layer_1 {
    /* pointer-events: all; */
    width: 100%;
    border: 1px red solid;
    overflow: hidden;
    /* transform: scale(0.75); */
  }

  .fl-row {
    justify-content: space-around;
  }

  .app-header {
    padding-right: 2rem;
  }

}
