@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

html {
  height: 100%;
  display: grid;
  place-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.app-header {
  background-color: hsl(70, 50%, 90%);
}
.app-body {
  background-color: hsl(44, 71%, 84%);
}
.app-footer {
  background-color: hsl(18, 42%, 78%);
}

.fl-row {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.fl-row svg {
  width: 36px;
  aspect-ratio: 1/1;
  padding: 0 1rem;
}

.fl-row svg:hover {
  cursor: pointer;
  color:aliceblue;
}
.media-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
}

.audio-settings {
  height: 400px;
  width: 100%;
  background-color: hsl(60,50%,80%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-settings input {
  width: 80%;
}

button svg {
  pointer-events: none;
}

form select {
  font-family: "Zen Maru Gothic";
  font-size: 1em;
  text-align: center;
  margin: clamp(1em, 2em, 3em);
  width: clamp(200px, 200px + 1vw, 600px);
  height: 2em;
  border-radius: 5px;
}

select option {
  padding: 3ch 0;
  text-align: center;
}
.display-paused {
  align-self: center;
  min-width: 100%;
  font-size: clamp(8px, 3em + 1vw, 5em);
  font-weight: 300;
}
.display-playing {
  font-size: clamp(8px, 3em + 1vw, 5em);
  font-weight: 300;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes moveleft {
  from {transform: translateX(0)}
  to {transform: translateX(-60%)}
}

@media only screen and (min-width: 600px) {
  .medizen-app {
    height: 100%;
    width: clamp(30vw, 50vw, 80vw);
  }
}
